@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark-grey: #555;
  --color-dark-mid-grey: #818181;
  --color-dark-light-grey: #b0b0b0;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 1.5;
}

section {
  max-width: 100%;
  margin: 1rem 1rem;
}

.loading {
  max-width: 100%;
  margin: 5rem 5rem;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
}

.float-bottom {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn_login {
  max-width: 100%;
  margin: 1rem;
  margin-top: 5rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
  padding: 0.4rem 1.4rem;
}

.btn {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border: 1px solid var(--color-black);
  border-radius: 1rem;
}

/* TABLET STYLES */
@media only screen and (min-width: 600px) {
  .btn-container {
    position: relative;
    top: 6rem;
    bottom: 0;
  }
  .btn_login {
    padding: 0.4rem 1rem;
    border-radius: 2rem;
  }
}
